.custom-scrollbar::-webkit-scrollbar {
  width: var(--spacing-050);
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--color-neutral-800);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-neutral-700);
  border-radius: var(--radius-full);
  border: 1px solid var(--color-neutral-600);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-neutral-600);
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}

/* `::-webkit-scrollbar-*` CSS pseudo-elements are non-standard and not supported
by Firefox. However, they provide better control over the appearance of the
scrollbar of an element. To prevent the standard properties from overriding their
styles, I had to use a property that is only supported by Firefox as part of the
`@supports` condition. */
@supports (scrollbar-width: thin) and (not (-webkit-appearance: none)) {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--color-neutral-700) var(--color-neutral-800);
  }
}
